.containers {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
 
  }
 
  .items {
    flex: 1;
    margin-right: 10px;
  }
 
  .items:last-child {
    margin-right: 0;
  }